.menu {
    font-family: 'PP Neue Montreal';
    font-size: 17px;
    color: black;
    /* color: rgb(217, 49, 49); */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    top: 20px;
    left: 2%;
}

.menu.nav {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: rotate(-90deg) translateY(-200%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 1000;
}

.menu:hover {
    pointer-events: all;
}

.label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(54, 32, 32);
    text-decoration: underline;
}

/* .label:hover {
    text-decoration: underline;
} */
