.menu {
    font-family: 'PP Neue Montreal';
    font-size: 17px;
    color: black;
    /* color: rgb(217, 49, 49); */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    top: 20px;
    left: 2%;
}

.menu.nav {
    position: fixed;
    top: 50%;
    left: -40px;
    transform: rotate(-90deg) translateY(-200%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 1000;
}

.menu:hover {
    pointer-events: all;
}

.label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(54, 32, 32);
    text-decoration: underline;
}

/* .label:hover {
    text-decoration: underline;
} */

/* Hamburger navbar */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-top: -5px;
    font-weight: 50;
  }

.nav-links {
    display: flex;
    gap: 20px;
}
  

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 30px;
        background-color: #f9ece7;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .nav-links.active {
        display: flex;
    }
}