@font-face {
    font-family: 'PP Neue Montreal';             
    src: url('../assets/ppneuemontreal-book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.cafe-header {
    font-size: 100px; 
    font-family: 'Instrument Serif', serif;
    padding: 50px 150px 50px 150px;
    text-align: center;
    line-height: 100px;
    /* margin-top: 3%; */
}

.nov-15 {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  font-size: 175px; 
  flex-wrap: wrap;
  font-family: 'Instrument Serif', serif;
  text-align: center;
  line-height: 160px;
}

.title {
    font-family: 'Instrument Serif', serif;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .title {
    color: #f9ece7;
    z-index: 0;
    /* color: rgb(217, 49, 49); */
}

/* 味道 Overlay text */
.overlay-text {
    position: fixed;         
    top: 5px;                
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;            
    color: #000000;
    font-family: 'PP Neue Montreal', sans-serif;
    font-size: 3em;
    text-align: center;
}

#menu-body {
  overflow: hidden;
}

 
h2 {
    font-family: 'PP Neue Montreal';
    font-size: 17px;
}

.subtext {
    /* font-family: 'Instrument Serif', serif; */
    font-family: 'Instrument Serif', serif;
    font-size: 1.5em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    /* color: #f1dad2; */
}

body {
    background-color: rgb(217, 49, 49);
    margin: 0;
    padding: 0;
    color: #000000;
    /* overflow: hidden; */
}

::selection {
    background: #f9ece7; /* highlight color */
    color: rgb(217, 49, 49); /* text color when selected */
}



/* MENU: Horizontal scrolling */
/* Scroll container */
#scroll-container {
  overflow-x: hidden;   /* hide default horizontal scrollbar */
  overflow-y: auto;     /* enable vertical scrolling (for wheel events) */
  height: auto;        /* full viewport height */
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  z-index: 1;
}

/* Inner container - horizontal layout */
#menu-container{
  display: flex;
  flex-direction: row;  /* horizontal layout */
  width: max-content;   /* fit all boxes in a row */
  align-items: stretch;
  font-family: "Instrument Serif";
  flex-wrap: nowrap;
}

/* Each box */
#menu-container .box {
  flex: 0 0 40vw;     /* take full viewport width */
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-140px;
  font-size: 70px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 60px;
  padding-right: 40px;
  padding-left: 40px;
}

#menu-container .text {
  padding-top: 20px;
}

.bottom-text {
  position: relative;
  bottom: 5px;
  left: 0;
  width: 100%;
  padding: 0 2%; /* safe horizontal space */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'PP Neue Montreal';
  font-size: 14px;
  box-sizing: border-box; /* ensures padding is counted inside width */
}


/* Media queries for mobile */
@media only screen and (max-width:768px) {
  .cafe-header {
      margin-top: 50px;
      text-align: center;
      font-size: 100px;
      line-height: 100px;
  }

  .title {
      font-size: 2.5em;
  }

  .subtext {
      flex-direction: column;
      font-size: 1em;
      margin: 50px 5%;
      text-align: center;
      padding: 10px;
  }

  .bottom-text {
      flex-direction: row;
      align-items: center;
      font-size: 11px;
      text-align: center;
      gap: 4px;
  }

  .nov-15 {
    font-size: 70px;
    line-height: 70px;
  }

  /*  display: flex;
  justify-content: center;
  align-content: flex-start;
  font-size: 175px; 
  flex-wrap: wrap;
  font-family: 'Instrument Serif', serif;
  text-align: center;
  line-height: 160px; */

  body {
      overflow: auto; /* allow scrolling on mobile */
      padding: 0 5px;
  }
}