@font-face {
    font-family: 'PP Neue Montreal';             
    src: url('../assets/ppneuemontreal-book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.cafe-header {
    font-size: 100px; 
    font-family: 'Instrument Serif', serif;
    padding: 50px 150px 50px 150px;
    text-align: center;
    line-height: 100px;
    /* margin-top: 3%; */
}

.title {
    font-family: 'Instrument Serif', serif;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .title {
    color: #f9ece7;
    /* color: rgb(217, 49, 49); */
}

 
h2 {
    font-family: 'PP Neue Montreal';
    font-size: 17px;
}

.subtext {
    /* font-family: 'Instrument Serif', serif; */
    font-family: 'Instrument Serif', serif;
    font-size: 1.5em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    /* color: #f1dad2; */
}

body {
    background-color: rgb(217, 49, 49);
    margin: 0;
    padding: 0;
    color: #000000;
    /* overflow: hidden; */
}

::selection {
    background: #f9ece7; /* highlight color */
    color: rgb(217, 49, 49); /* text color when selected */
}



/* MENU: Horizontal scrolling */
.horizontal-scroll-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
  }
  
  .horizontal-scroll {
    display: flex;
    height: 100%;
    width: max-content; /* allows all panels to line up horizontally */
    overflow-x: hidden;
    scroll-behavior: smooth;
    
  }
  
  .panel {
    flex: 0 0 100vw; /* each panel takes full viewport width */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background-color: #f1dad2; /* just for demonstration */
    border-right: 2px solid #fff;
  }