@font-face {
    font-family: 'PP Neue Montreal';             
    src: url('../assets/ppneuemontreal-book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cafe-header {
    font-size: 195px; 
    font-family: 'Instrument Serif', serif;
    text-align: center;
    line-height: 8px;
    /* margin-top: 3%; */
}

.title {
    font-family: 'Instrument Serif', serif;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .title {
    color: rgb(217, 49, 49);
}
 
h2 {
    font-family: 'PP Neue Montreal';
    font-size: 17px;
}

.subtext {
    font-family: 'Instrument Serif', serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    /* color: #f1dad2; */
}

.bottom-text {
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 0 2%; /* safe horizontal space */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'PP Neue Montreal';
    font-size: 14px;
    box-sizing: border-box; /* ensures padding is counted inside width */
}

body {
    background-color: #f9ece7;
    margin: 0;
    padding: 0;
    color: 'black';
    height: 100%;
    /* color:rgb(217, 49, 49); */
    overflow: hidden;
    /* background: hsla(0, 81%, 51%, 1);
    background: radial-gradient(circle, hsla(0, 81%, 51%, 1) 0%, hsla(0, 0%, 100%, 1) 100%); */
}

a {
    text-decoration: none;
    color: rgb(217, 49, 49);
}

::selection {
    background: #f9ece7; /* highlight color */
    color: rgb(217, 49, 49); /* text color when selected */
}


/* Media queries for mobile */
@media only screen and (max-width:768px) {
    .cafe-header {
        margin-top: 50px;
        text-align: center;
        font-size: 100px;
        line-height: 5px;
    }

    .title {
        font-size: 2.5em;
    }

    .subtext {
        flex-direction: column;
        font-size: 1em;
        margin: 50px 5%;
        text-align: center;
        padding: 10px;
    }

    .bottom-text {
        flex-direction: row;
        align-items: center;
        font-size: 11px;
        text-align: center;
        gap: 4px;
    }

    body {
        overflow: auto; /* allow scrolling on mobile */
        padding: 0 5px;
    }
}